<%- include("./templates/header") %> 
<div class="about d-flex flex-column align-items-center ">
    <h1 class="label rounded-5 px-4 py-2 my-5">Tentang Kami</h1>
    <p class="text-center px-5 mb-5">UpPreneur merupakan sebuah platform inovatif sebagai sarana bagi masyarakat yang ingin memiliki usaha dan/ atau mengembangkan usaha  Dalam UpPreneur terdapat berbagai fitur yang bermanfaat bagi pengguna yang belum memiliki ide usaha maupun sudah memiliki usaha, antara lain materi wirausaha, pelatihan, FGD, konsultasi, pengembangan skill, dan pendanaan</p>
    <h2 class="text-center">Contact Person :</h2>
    <div class="emailCont d-flex justify-content-center align-items-center mb-3">
        <img src="/img/email.png" alt="email">
        <p class="my-0 ms-2">uppreneur@gmail.com</p>
    </div>
    <div class="waCont d-flex justify-content-center align-items-center">
        <img class="me-2" src="/img/wa-blk.png" alt="wa">
        <img src="/img/tele-blk.png" alt="telegram">
        <p class="my-0 ms-2">0274-4321-2321</p>
    </div>
    <h2 class="text-center mt-5">Alamat :</h2>
    <p>Karangmalang, Sleman, Yogyakarta 55281</p>
</div>
<%- include("./templates/footer") %> 