<%- include("./templates/header")%>
<div class="signUp d-flex flex-column justify-content-center align-items-start p-4">
    <p class="align-self-center">Atau sandingkan dengan akun google</p>
    <img onclick="redirectSignUp()" class="d-block align-self-center mb-5" src="/img/google.png" alt="google">
    <h3>Buat Akun Anda</h3>
    <div class="dataAkun d-flex align-items-center">
        <h4 class="m-0">Data akun</h4>
        <hr class="align-self-end">
    </div>
    <form action="/signUp/verify" method="POST" id="formy">
        <input class="d-block mb-4 px-4 py-3 rounded-2" type="text" name="firstName" id="firstName" placeholder="Nama Depan" required>
        <input class="d-block mb-4 px-4 py-3 rounded-2" type="text" name="lastName" id="lastName" placeholder="Nama Belakang" required>
        <input class="d-block mb-4 px-4 py-3 rounded-2" type="email" name="email" id="email" placeholder="Email" required>
        <input class="d-block mb-4 px-4 py-3 rounded-2" type="password" name="pass" id="pass" placeholder="Password" required>
        <input class="d-block mb-4 px-4 py-3 rounded-2" type="password" name="verPass" id="verPass" placeholder="Konfirmasi Password" required>
        <input class="d-block mb-4 px-4 py-3 rounded-2" type="text" name="kota" id="kota" placeholder="Kota Asal" required>
        <div class="dataUsaha d-flex align-items-center">
            <h4 class="m-0">Data usaha</h4>
            <hr class="align-self-end">
        </div>
        <h5 class="d-inline mb-4 px-4 py-3 rounded-2">Pernah punya usaha?</h5>
        <select class="d-inline mb-4 px-4 py-3 rounded-2" name="punyaUsaha" id="punyaUsaha" required>
            <option value="true">Ya</option>
            <option value="false">Tidak</option>
        </select>
        <input class="d-block mb-4 px-4 py-3 rounded-2" type="text" name="namaUsaha"  id="namaUsaha" placeholder="Nama Usaha">
        <input class="d-block mb-4 px-4 py-3 rounded-2" type="text" name="jenisUsaha" id="jenisUsaha" placeholder="Jenis Usaha">
        <input class="d-block mb-4 px-4 py-3 rounded-2" type="text" name="alamatUsaha" id="alamatUsaha" placeholder="Alamat Usaha" d>
        <button type="button" class="btn btn-lg px-5">Daftar</button>
    </form>
</div>
<%- include("./templates/footer")%>