    <footer>
        <div class="foot d-flex flex-column justify-content-center align-items-center">
            <h3>Hubungi kami :</h3>
            <div class="d-flex flex-row justify-content-center align-items-center">
                <img class="mx-1" src="/img/wa.png" alt="wa">
                <img class="mx-1" src="/img/tele.png" alt="telegram">
                <p class="ms-1">0274-4321-2321</p>
            </div>
        </div>
    </footer>
    <script src="/js/login.js"></script>
    <script src="/js/signUp.js"></script>
    <script src="/js/beranda.js"></script>
    <script src="/js/umkmkuModule.js"></script>
    <script src="/js/editorPelatihan.js"></script>
    <script src="/js/editorUmkmkuWebinar.js"></script>
    <script src="/js/editorUmkmkuPendanaan.js"></script>
    <script src="/js/buildUmkm.js"></script>
    <script src="/js/umkmku.js"></script>
    <script src="/js/editorBuildUmkmPelatihan.js"></script>
    <script src="/js/editorBuildUmkmWebinar.js"></script>
    <script src="/js/editorBuildUmkmPendanaan.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/paragraph@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/image@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/delimiter@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
    <script type="module" src="/js/editorBuildUmkm.js"></script>
    <script type="module" src="/js/editor.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>