<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.typekit.net/znl0pox.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/beranda.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/signUp.css">
    <link rel="stylesheet" href="/css/umkmku.css">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="/css/umkmKuWawasan.css">
    <link rel="stylesheet" href="/css/articleWawasanUmkmku.css">
    <link rel="stylesheet" href="/css/pelatihanUmkmku.css">
    <link rel="stylesheet" href="/css/editor.css">
    <link rel="stylesheet" href="/css/buildUmkm.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>UPPRENEUR</title>
</head>
<body>
    <!-- As a link -->
    <nav class="navbar bg-light">
        <div class="container-fluid d-flex justify-content-center align-items-center">
            <img class="me-2" src="/img/logo.png" alt="logo"> 
            <a class="navbar-brand d-block" href="/">UPPRENEUR</a>
        </div>
    </nav>